<div class="container">
  <div class="row">
    <h3><%= @bike.user.name %>さんのレビュー</h3>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag @bike.get_bike_image(200,200) %>
    </div>
    <div class="col-md-8 py-5">
      <table>
        <tr><td>投稿日：<%= @bike.created_at.strftime('%Y/%m/%d') %></td></tr>
        <tr><td>メーカー：<%= @bike.manufacturer %></td></tr>
        <tr><td>車種：<%= @bike.bike_name %></td></tr>
        <tr><td>第一印象：<%= @bike.first_impression %></td></tr>
      </table>
    </div>
  </div>
  <div>
    <p>感想：<%= @bike.body %></p>
    <%= link_to "削除", admin_bike_path(@bike.id), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %>
  </div>
  <br>
  <div>
    <p>♡<%= @bike.favorites.count %> いいね</p>
  </div>
  <hr>
  <div class="comments card-text">
  <h4><%= @bike.bike_comments.count %>件コメント</h4>
  <% @bike.bike_comments.each do |bike_comment| %>
    <div class="media border mb-3">
      <%= bike_comment.user.name %>
      <%= image_tag bike_comment.user.get_user_image(60,60), class: "bd-placeholder-img align-self-center mx-3" %>
      <div class="media-body ml-4 p-3">
        <p><%= bike_comment.created_at.strftime('%Y/%m/%d') %></p>
        <p><%= bike_comment.comment %></p>
      </div>
    </div>
  <% end %>
  </div>
</div>
  
