<h1>管理者トップ（投稿一覧）</h1>

<table class="table table-hover table-inverse">
  <thead>
    <th>投稿日</th>
    <th>ユーザー</th>
    <th>画像</th>
    <th>メーカー</th>
    <th>車種</th>
    <th>第一印象</th>
  </thead>
  <% @bikes.each do |bike| %>
  <tbody>
    <td><%= bike.created_at.strftime('%Y/%m/%d') %></td>
    <td>
      <%= link_to admin_user_path(bike.user) do %>
      <%= bike.user.name %>
      <% end %>
    </td>
    <td><%= image_tag bike.get_bike_image(100,100) %></td>
    <td><%= bike.manufacturer %></td>
    <td><%= link_to bike.bike_name, admin_bike_path(bike.id) %></td>
    <td><%= bike.first_impression %></td>
  </tbody>
  <% end %>
  <%= paginate @bikes %>
</table>