<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_user_image(100,100) %>
  <p>自己紹介</p>
  <%= @user.introduction %>
  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<table class="table mdle-sm user-index">
  <thead>
    <th>投稿日</th>
    <th>画像</th>
    <th>メーカー</th>
    <th>車種</th>
    <th>第一印象</th>
  </thead>
<% @bikes.each do |bike| %>
<%= image_tag bike.get_bike_image(200,200) %>
  <p>メーカー：<%= bike.manufacturer %></p>
  <p>車種：<%= bike.bike_name %></p>
  <p>第一印象：<%= bike.first_impression %>
  <p>感想：<%= bike.body %></p>
  <p>投稿日：<%= bike.created_at.strftime('%Y/%m/%d') %></p>
  <%= link_to "レビュー詳細", bike_path(bike.id) %>
<% end %>
</table>
<%= paginate @bikes %>