<div class="containar">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark text-center bg-light p-4 mb-0">新規投稿フォーム</h5>
      <div class="form-body p-4">
        <% if @bike.errors.any? %>
        <%= @bike.errors.count %>件のエラーが発生しました
          <ul>
            <% @bike.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          <ul>
        <% end %>
        <%= form_with model: @bike do |f| %>
          <h6>画像</h6>
          <%= f.file_field :bike_image, accept: "image/*", class: "w-100" %>
          <h6>メーカ名</h6>
          <%= f.text_field :manufacturer, class: "form-control" %>
          <h6>車種名</h6>
          <%= f.text_field :bike_name, class: "form-control" %>
          <h6>第一印象（一言で）</h6>
          <%= f.text_area :first_impression, class: "form-control" %>
          <h6>感想</h6>
          <%= f.text_area :body, class: "form-control", rows:"3" %>
          <hr>
          <%= f.submit '投稿', class: "btn btn-lg btn-block btn-info mt-4" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
