<div>
  <h3><%= @user.name %>さんのレビュー一覧</h3>
  <br>
  <%= image_tag @user.get_user_image(150,150) %>
  <h5>自己紹介:<%= @user.introduction %></h5>
  <br>
  <%= form_with model:@user, url: admin_user_path(@user) do |f| %>
    <h5>会員ステータス</h5>
		<%= f.radio_button :is_deleted, false %><%= f.label :is_deleted, "有効", class: "text-active" %>
		<%= f.radio_button :is_deleted, true %><%= f.label :is_deleted, "退会", class: "text-invalid" %>
		<%= f.submit "更新", class: "btn btn-primary" %>
	<% end %>
</div>
<br>
<table class="table table-hover">
  <thead>
    <th>投稿日</th>
    <th>画像</th>
    <th>メーカー</th>
    <th>車種</th>
    <th>第一印象</th>
    <th>いいね</th>
    <th>コメント</th>
  </thead>
  <tbody>
    <% @bikes.each do |bike| %>
      <tr>
        <td><%= bike.created_at.strftime('%Y/%m/%d') %></td>
        <td><%= image_tag bike.get_bike_image(150,150) %></td>
        <td><%= bike.manufacturer %></td>
        <td><%= link_to bike.bike_name, admin_bike_path(bike.id) %></td>
        <td><%= bike.first_impression %></td>
        <td>♡<%= bike.favorites.count %></td>
        <td><%= bike.bike_comments.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @bikes %>